name: build-and-deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20.5
      - name: install slidevjs
        run: 'yes | npm install -g @slidev/cli @slidev/theme-default'
      - name: build slides
        run: 'slidev build'
      - name: upload build
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: dist
